table{
    position: absolute;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
    min-width: 700px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-top: none;
    border-bottom: none;
    background-color: #D9D9D9;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);

    display: block;
    max-height: 200px;
    overflow-y: auto;
}

thead tr { /*заголовок*/
    color: black;
    text-align: center;
}

th, td {
    color: black;
    padding: 12px 15px;
    text-align: center;
}

span{
    position: absolute;
    font-size: 20px;
    font-family: "Open Sans-SemiBold", Helvetica, sans-serif;
    color: black;
    left: 50%;
    transform: translateX(-50%);
}

span.rating{
    top: 7%;
}

.avg-rating{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-family: "Open Sans", Helvetica, sans-serif;
}

span.scores{
    top: 20%;
}

table.scores-table{
    top: 22%;
}

span.comments{
    top: 60%;
}

table.comments-table{
    top: 62%;
}

.back-button {
    position: absolute;
    width: 58px;
    height: 51px;
    left: 180px;
    top: 46px;
    background-image: url("../images/arrow-back.png");
    background-size: cover;
    border: none;
    cursor: pointer;
}
