table.dots-board{
    position: absolute;
    left: 24%;
    top: 19%;
    background-color: #D9D9D9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}

.rect{
    position: absolute;
    left: 22.5%;
    top: 16%;
    width: 480px;
    height: 480px;
    background: #B0A189;
    border-radius: 20px;
}

.group {
    position: absolute;
    top: 25%;
    left: 65%;
    width: 136px;
    height: 370px;
}

.group .big-rect{
    position: fixed;
    width: 136px;
    height: 370px;
    background: #B0A189;
    border-radius: 20px;
}

.group .small-rect {
    position: relative;
    height: 303px;
    width: 118px;
    background: #E0CCB0;
    border-radius: 20px;
    top: 9%;
    left: 7%;
}

.yellow{
    background: linear-gradient(180deg, rgb(245, 186, 66) 31.5%, rgb(250, 144, 60) 58.5%);
}

.blue{
    background: linear-gradient(180deg, rgb(38, 187, 167) 31.5%, rgb(34, 117, 157) 58.5%);
}

.green{
    background: linear-gradient(180deg, rgb(77.01, 192.53, 115.52) 11.9%, rgb(70.2, 112.62, 84.34) 48.9%);
}

.red{
    background: linear-gradient(180deg, rgb(251, 144, 110) 11.9%, rgb(227.37, 90.95, 130.39) 48.9%);
}

.purple{
    background: linear-gradient(180deg, rgb(156.33, 90.39, 222.28) 11.9%, rgb(95.55, 40.23, 150.87) 58.4%);
}

.dot-button{
    border-radius: 50%;
    border: none;
    height: 60px;
    width: 60px;
    margin: 4px 4px;
}

.yellow-selection {
    box-shadow: 0 0 10px 0 rgba(245, 186, 66, 0.8), 0 0 10px 5px rgba(250, 144, 60, 0.8);
}

.blue-selection {
    box-shadow: 0 0 10px 0 rgba(38, 187, 167, 0.8), 0 0 10px 5px rgba(34, 117, 157, 0.8);
}

.green-selection {
    box-shadow: 0 0 10px 0 rgba(77, 192, 115, 0.8), 0 0 10px 5px rgba(70, 112, 84, 0.8);
}

.red-selection {
    box-shadow: 0 0 10px 0 rgba(251, 144, 110, 0.8), 0 0 10px 5px rgba(227, 90, 130, 0.8);
}

.purple-selection{
    box-shadow: 0 0 10px 0 rgba(156, 90, 222, 0.8), 0 0 10px 5px rgba(95, 40, 150, 0.8);
}

.bomb{
    background: linear-gradient(
            180deg,
            rgb(240, 119, 119) 0%,
            rgb(38, 187, 167) 19.9%,
            rgb(76, 182, 111) 46.4%,
            rgb(245, 183, 65) 71.9%,
            rgb(156.33, 90.39, 222.28) 100%);
}

.scores{
    position: absolute;
    left: 67.2%;
    top: 45%;
    font-size: 21px;
    font-family: "Open Sans-SemiBold", sans-serif;
    text-align: center;
    z-index: 10;
}

.moves-count{
    position: absolute;
    left: 67.2%;
    top: 38%;
    font-size: 21px;
    font-family: "Open Sans-SemiBold", sans-serif;
    text-align: center;
    z-index: 10;
}

.scores-1{
    position: absolute;
    left: 67.2%;
    top: 55%;
    font-size: 21px;
    font-family: "Open Sans-SemiBold", sans-serif;
    text-align: center;
    z-index: 10;
}

.back-button {
    position: absolute;
    width: 55px;
    height: 45px;
    left: 11%;
    top: 6.3%;
    background-image: url("../images/arrow-back.png");
    background-size: cover;
    border: none;
    cursor: pointer;
}

.move-back {
    position: absolute;
    width: 55px;
    height: 45px;
    left: 20%;
    top: 10.3%;
    background-image: url("../images/moveBack.png");
    background-size: cover;
    border: none;
    cursor: pointer;
}
