<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/account.css" />
    <link rel="stylesheet" href="/css/general_sides.css">
    <link rel="stylesheet" href="/css/general_background.css">
    <link rel="icon" href="/images/emblem.png" type="image/png">
    <title>Account</title>
</head>
<body>

<div class="log_in">
    <div class="general_background">
        <div class="div">
            <span class="scores"><span>SCORES</span></span>
            <span class="comments"><span>COMMENTS</span></span>
            <span class="rating"><span>RATING</span></span>
            <table class="scores-table">
                <thead>
                <tr>
                    <th>SCORES</th>
                    <th>MODE</th>
                    <th>DATE</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="username" type="sk.tuke.gamestudio.server.controller.UserController"*/-->"
                <tr th:each="score : ${scores}">
                    <td th:text="${score.getMaxResult()}"></td>
                    <td th:text="${score.getGameMode()}"></td>
                    <td th:text="${score.getDate()}"></td>
                </tr>
                </tbody>
            </table>

            <table class="comments-table">
                <thead>
                <tr>
                    <th>COMMENT</th>
                    <th>DATE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment: ${comments}">
                    <td th:text="${comment.getComment()}"></td>
                    <td th:text="${comment.getCommented_on()}"></td>
                </tr>
                </tbody>
            </table>

            <span class="rating-stars" th:text="${rating}"></span>

            <div class="general_sides">
                <div class="left-side-dots">
                    <div class="left-yellow-ellipse"><div class="ellipse"></div></div>
                    <div class="left-pink-ellipse"><div class="ellipse-3"></div></div>
                    <div class="ellipse-5"></div>
                    <div class="ellipse-6"></div>
                    <div class="ellipse-7"></div>
                    <div class="ellipse-8"></div>
                    <div class="ellipse-9"></div>
                    <div class="ellipse-10"></div>
                    <div class="ellipse-11"></div>
                    <div class="ellipse-12"></div>
                    <div class="ellipse-13"></div>
                    <div class="ellipse-14"></div>
                    <div class="ellipse-15"></div>
                    <div class="ellipse-16"></div>
                    <div class="ellipse-17"></div>
                </div>
                <div class="right-side-dots">
                    <div class="right-blue-ellipse"><div class="ellipse-2"></div></div>
                    <div class="right-green-ellipse"><div class="ellipse-4"></div></div>
                    <div class="ellipse-18"></div>
                    <div class="ellipse-19"></div>
                    <div class="ellipse-20"></div>
                    <div class="ellipse-21"></div>
                    <div class="ellipse-22"></div>
                    <div class="ellipse-23"></div>
                    <div class="ellipse-24"></div>
                    <div class="ellipse-25"></div>
                    <div class="ellipse-26"></div>
                    <div class="ellipse-27"></div>
                    <div class="ellipse-28"></div>
                    <div class="ellipse-29"></div>
                    <div class="ellipse-30"></div>
                </div>
            </div>
            <button class="back-button" onclick="location.href='http://localhost:8080/dots/mainMenu'"></button>
        </div>
    </div>
</div>
</body>
</html>