<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/general_background.css">
    <link rel="stylesheet" href="/css/instructionPage.css">
    <link rel="icon" href="/images/emblem.png" type="image/png">
    <title>Dots</title>
</head>
<body>
<div class="general_background">
    <div class="div">
        <span class="first">Find balls of the same color and left-click on them<br>to select. To make the balls disappear from the field,<br>press the space bar.</span>
        <img class="selection" src="/images/selection.png" alt="dots selection">
        <span class="second">A colored ball on the field means a bomb.<br>If you click on it, all the balls that were<br>around the bomb will disappear,<br>and you will get points.</span>
        <img class="colorBall" src="/images/colorBall.png" alt="colorBall">
        <button class="back-button" onclick="location.href='http://localhost:8080/dots/mainMenu'"></button>
    </div>
</div>
</body>
</html>