<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/sign_up.css" />
    <link rel="stylesheet" href="/css/general_sides.css">
    <link rel="stylesheet" href="/css/general_background.css">
    <link rel="icon" href="/images/emblem.png" type="image/png">
    <title>Dots</title>
</head>
<body>

<div class="sign_up">
    <div class="general_background">
        <div class="div">
            <span>We are glad to see you!</span>
            <form action="/dots/signUp" method="post">
                <input type="text" id="username" name="username" minlength="4" maxlength=15 placeholder="Enter username" required><br>
                <input type="password" id="password" name="password" minlength="6" maxlength="15" placeholder="Enter password" required>
                <input type="submit" value="Sign Up">
            </form>
            <div class="error-message" th:if="${loginError}" th:text="${loginError}"></div>
            <div class="general_sides">
                <div class="left-side-dots">
                    <div class="left-yellow-ellipse"><div class="ellipse"></div></div>
                    <div class="left-pink-ellipse"><div class="ellipse-3"></div></div>
                    <div class="ellipse-5"></div>
                    <div class="ellipse-6"></div>
                    <div class="ellipse-7"></div>
                    <div class="ellipse-8"></div>
                    <div class="ellipse-9"></div>
                    <div class="ellipse-10"></div>
                    <div class="ellipse-11"></div>
                    <div class="ellipse-12"></div>
                    <div class="ellipse-13"></div>
                    <div class="ellipse-14"></div>
                    <div class="ellipse-15"></div>
                    <div class="ellipse-16"></div>
                    <div class="ellipse-17"></div>
                </div>
                <div class="right-side-dots">
                    <div class="right-blue-ellipse"><div class="ellipse-2"></div></div>
                    <div class="right-green-ellipse"><div class="ellipse-4"></div></div>
                    <div class="ellipse-18"></div>
                    <div class="ellipse-19"></div>
                    <div class="ellipse-20"></div>
                    <div class="ellipse-21"></div>
                    <div class="ellipse-22"></div>
                    <div class="ellipse-23"></div>
                    <div class="ellipse-24"></div>
                    <div class="ellipse-25"></div>
                    <div class="ellipse-26"></div>
                    <div class="ellipse-27"></div>
                    <div class="ellipse-28"></div>
                    <div class="ellipse-29"></div>
                    <div class="ellipse-30"></div>
                </div>
            </div>
            <button class="image-button" onclick="location.href='http://localhost:8080/dots'"></button>
            <div class="creator">by Anastasiia Dosyn</div>
        </div>
    </div>
</div>
</body>
</html>
