<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/start_menu.css" />
</head>
<body>

<div class="start_menu">
    <div class="div">
        <div class="letter-D">D</div>
        <div class="letter-S">S</div>
        <div class="letter-T">T</div>
        <div class="emblem">
            <div class="yellow-ellipse-emblem"><div class="ellipse"></div></div>
            <div class="green-ellipse-emblem"><div class="ellipse-4"></div></div>
            <div class="pink-ellipse-emblem"><div class="ellipse-3"></div></div>
            <div class="blue-ellipse-emblem"><div class="ellipse-2"></div></div>
        </div>
        <div class="left-side-dots">
            <div class="left-yellow-ellipse"><div class="ellipse"></div></div>
            <div class="left-pink-ellipse"><div class="ellipse-3"></div></div>
            <div class="ellipse-5"></div>
            <div class="ellipse-6"></div>
            <div class="ellipse-7"></div>
            <div class="ellipse-8"></div>
            <div class="ellipse-9"></div>
            <div class="ellipse-10"></div>
            <div class="ellipse-11"></div>
            <div class="ellipse-12"></div>
            <div class="ellipse-13"></div>
            <div class="ellipse-14"></div>
            <div class="ellipse-15"></div>
            <div class="ellipse-16"></div>
            <div class="ellipse-17"></div>
        </div>
        <div class="right-side-dots">
            <div class="right-blue-ellipse"><div class="ellipse-2"></div></div>
            <div class="right-green-ellipse"><div class="ellipse-4"></div></div>
            <div class="ellipse-18"></div>
            <div class="ellipse-19"></div>
            <div class="ellipse-20"></div>
            <div class="ellipse-21"></div>
            <div class="ellipse-22"></div>
            <div class="ellipse-23"></div>
            <div class="ellipse-24"></div>
            <div class="ellipse-25"></div>
            <div class="ellipse-26"></div>
            <div class="ellipse-27"></div>
            <div class="ellipse-28"></div>
            <div class="ellipse-29"></div>
            <div class="ellipse-30"></div>
        </div>
        <button class="log-in-button" onclick="location.href='http://localhost:8080/dots/logIn'">
            <span class="button-text">Log In</span>
        </button>
        <button class="sign-up-button" onclick="location.href='http://localhost:8080/dots/signUp'">
            <span class="button-text">Sign Up</span>
        </button>
        <div class="creator">by Anastasiia Dosyn</div>
    </div>
</div>
</body>
</html>
